# Gateway Service Environment Variables
AUTH_SERVICE_URL=http://localhost:8081
MENU_SERVICE_URL=http://localhost:8082
ORDER_SERVICE_URL=http://localhost:8083
REVIEW_SERVICE_URL=http://localhost:8084
AI_RECOMMENDATION_URL=http://localhost:8001
AI_OPERATIONS_URL=http://localhost:8003
