# Review Service Environment Variables
AUTH_SERVICE_URL=http://localhost:8081
AI_REVIEW_WRITER_URL=http://localhost:8002
AI_RECOMMENDATION_URL=http://localhost:8001
AI_VALIDATION_URL=http://localhost:8004
REDIS_HOST=localhost
REDIS_PORT=6379
